
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}

.container {
  width: 100%; 
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.header__heading {
  font-size: 25px;
  margin-top: 30px;
}

.section {
  background-color: #fff;

  &__heading {
    font-size: 16px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-weight: 600;
    margin:0;
    
    &--second {
      margin-top: 10px;
    }
  }
}


.form {
  display: grid;
  grid-gap: 15px;
  padding: 15px;
  background-color: #fff;

  @media (min-width: 767px) {
    grid-template-columns: 1fr auto;
  }

  &__input {
    margin: 0;
    padding: 6px 8px;
    font-size: 13px;
    border: 1px solid #eee;
    outline: none;
    border-radius: 3px;

    &:focus {
     border: 1px solid #000;
    }
  }

  &__addTaskButton {
    padding: 10px;
    font-size: 12px;
    color: #eee;
    border: none;
    background-color: #007E8E;
    cursor: pointer;
  }
}

.list {
  margin: 0;
  padding: 22px 10px;
  list-style-type: none;
  background-color: #fff;

  &__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 15px 8px;
    border-bottom: 1px solid #eee;
  } 
  &__task {
    padding-right: 5px;
    font-size: 13px;
    font-weight: 400;
    overflow-wrap: anywhere;
    word-break: break-all;

    &--done {
      text-decoration: line-through;
    }
  }
}

.list__button {
  margin-right: 10px;
  color: #eee;
  width: 25px;
  height: 25px;
  font-size: 12px;
  background-color: #EF2E44;
  border: none;
  cursor: pointer;
  transition: background-color .3s ease-in;

  &:hover {
    background-color: #de1414;  
  }
  &:active {
    outline: 1px solid #222;
  }

  &--done {
    background-color: #1C8622;
    margin-left: 10px;

    &:hover {
      background-color: #05af05;
    }
  }
}