.tasks {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    &--toggleHidden {
      display: none;
    }
  } 

  &__singleTask {
    padding-right: 5px;
    font-size: 13px;
    font-weight: 400;
    overflow-wrap: anywhere;
    word-break: break-all;

    &--done {
      text-decoration: line-through;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: #EF2E44;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease-in;

    &:hover {
      background-color: #de1414;  
    }
    &:active {
      outline: 1px solid #222;
    }

    &--toggleDone {
      background-color: #1C8622;
      margin-left: 10px;

      &:hover {
        background-color: #05af05;
      }
    }
  }
}

// .section__switcher {
//   // display: grid;
// }
// .section__buttons {
//   .switcher__button {
//     border: none;
//     background-color: transparent;
//     color: teal;
//   }
// }