.tasks {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    &--toggleHidden {
      display: none;
    }
  } 
  &__singleTask {
    padding-right: 5px;
    font-size: 13px;
    font-weight: 400;
    overflow-wrap: anywhere;
    word-break: break-all;
    &--done {
      text-decoration: line-through;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: hsl(0, 83%, 47%);  
    border: none;
    cursor: pointer;
    transition: background-color .3s ease-in;
    &:hover {
      background-color: hsl(0, 83%, 60%);
    }
    &:active {
      outline: 1px solid #222;
    }
    &--toggleDone {
      background-color: #1C8622;
      margin-left: 10px;
      &:hover {
        background-color: #05af05;
      }
    }
  }
}

.section-grid {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  @media (min-width: 767px) {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-bottom: 0;
  }
}

.section__buttons {
  display: grid;
    &--hiddenButtons {
      display: none;
    }

    @media (min-width: 767px) {
      grid-template-columns: 1fr 1fr;
      justify-items: end;
    }
}

.section__button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: teal;
  padding: 15px 25px;
  outline: none;
  transition: color .2s ease-in;
  cursor: pointer;
  &:hover {
    color: hsl(180, 100%, 40%);;
  }
 
  &:disabled {
    background: rgb(255, 255, 255);
    color: rgb(201, 194, 194);
    cursor: not-allowed;
  }
}
